{% extends "layout.html" %}
{% block title %}
	Component Aggregation 
{% endblock %}
{% block body %}
	<p>Length of Data is {{ data|length }} </p>
	<hr />
	<table class="table table-bordered">
		<caption> Component Aggregation </caption>
		<thead>
			<th> Component Task </th>
			<th> Timestamp </th>
			<th> Average Execution </th>
			<th> Average Sum of Squares </th>
			<th> Variance </th>
		</thead>
		<tbody>
		{% for key, value in data.iteritems() %}
		<tr>
			<td> {{  key }} </td>
			<td> {{ value }} </td>
			<td> {{ avg_execution_time[loop.index0] }} </td>
			<td> {{ avg_sum_squares[loop.index0] }} </td>
			<td> {{ variance[loop.index0] }} </td>
		</tr>
		{% endfor %}
		</tbody>
	<table>
{% endblock %}