{% extends "layout.html" %}
{% block title %}
	Executor Aggregation 
{% endblock %}
{% block body %}
	
	<hr />
	<div class="row">
		<div class="col-xs-6">
			<table class="table table-bordered">
				<caption> Split Executor Aggregation </caption>
				<thead>
					<th> Average Rate </th>
					<th> Average Queue Length </th>
				</thead>
				<tbody>
				{% for split in split_details[0] %}
				<tr>
					
						<td> {{  split_details[0][loop.index0] }} </td>
						<td> {{ split_details[1][loop.index0] }} </td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="col-xs-6">
			<table class="table table-bordered">
				<caption> Counter Executor Aggregation </caption>
				<thead>
					<th> Average Rate </th>
					<th> Average Queue Length </th>
				</thead>
				<tbody>
				{% for count in counter_details[0] %}
				<tr>
					
						<td> {{  counter_details[0][loop.index0] }} </td>
						<td> {{ counter_details[1][loop.index0] }} </td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}