<!DOCTYPE html>
<html>
	<head>
		<title>  {% block title %} {% endblock %} - Resa Visualization  </title>
		{% block stylesheet %}
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
		{% endblock %}
	</head>
	<body>
		<!-- <meta http-equiv="refresh" content="10" /> onclick="window.scrollTo(0,document.body.scrollHeight);"-->
		<div class="container" >
			
			{% block body %}

			{% endblock %}
		</div>
		{% block scripts %}
		<script type="text/javascript">
		// window.document.onload = function() {
		// 	window.scrollTo(0,document.body.scrollHeight);
		// }
		</script>
		{% endblock %}
	</body>
</html>