{% extends "layout.html" %}
{% block title %}
	Metrics 
{% endblock %}
{% block body %}
	<p>Length of Data is {{ data|length }} </p>
	<hr />
	<table class="table table-bordered">
		<caption> Spout and Bolt Components Queue Metrics </caption>
		<thead>
			<th> Index </th>
			<th> Component Name </th>
			<th> Average Execution </th>
			<th> Average Sum of Squares </th>
			<th> Variance </th>
		</thead>
		<tbody>
		{% for task in data %}
		<tr>
			<td>{{ loop.index }} </td>
			{% for metrics in task %}
				
				<td>{{ metrics }}</td>
				
			{% endfor %}
		</tr>
		{% endfor %}
		</tbody>
	<table>
{% endblock %}