<!DOCTYPE html>
<html>
	<head>
		<title> Resa Visualization </title>
	</head>
	<body>
		<meta http-equiv="refresh" content="10" />
		<p> Welcome to flask application </p>
		<p>Length of Data is {{ data|length }} </p>
		<hr />
		<table>
			<caption> Spout and Bolt Components Basic Details </caption>
			<thead>
				<th> Index </th>
				<th> Component </th>
				<th> Task </th>
				<th> Timestamp </th>
			</thead>
			<tbody>
			{% for spoutbolt in data %}
				{% for task in spoutbolt %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ task.component }}</td>
						<td>{{ task.task }} </td>
						<td>{{ task.time_stamp }} </td>
					</tr>
				{% endfor %}
			{% endfor %}
			</tbody>
		<table>
	</body>
</html>